body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ecdfdf;
}

.wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding: 10px;
  background: #0781b2;
  color: white;
  font-size: 15px;
}

#navlist {
  float: right;
}

#navlist li {
  display: inline;
  list-style-type: square;
  padding-right: 20px;
}

#navlist li a {
  color: white;
}

#navlist li a:hover {
  color: blue;
}

.header img {
  width: 60px;
  height: 60px;
}

#headerFont {
  font-size: 20px;
  font-weight: bolder;
}

div.text-heading {
  text-align: center;
}

div.container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding: 20px;
}

label {
  font-size: 15px;
  font-weight: bold;
}

input,
button {
  width: 100%;
  font-size: 20px;
  padding: 6px 10px;
  margin: 8px 0;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
}

button {
  background-color: blue;
  color: white;
}

button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.floatingCards {
  display: flex;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 50%;
  background-color: #0781b2;
  color: white;
  font-family: "Kalam", cursive;
  border: 3px solid white;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.cardItem {
  padding: 10px;
  margin: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#customerImage {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 300px;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #0781b2;
  color: white;
}

#footerBottom {
  position: absolute;
}

.footer-text {
  margin-top: 20px;
  margin-right: 20px;
  float: right;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.WholeContainer {
  width: 100%;
  height: 100vh;
  background: #ecdfdf;
  display: flex;
  align-items: center;
  justify-content: center;
}

.useful-links {
  position: absolute;
  top: 5%;
  right: 5%;
}
.useful-links a {
  display: block;
  color: #fff;
  text-decoration: none;
}

.WholeContainer form {
  width: 90%;
  max-width: 500px;
  padding: 50px 30px 20px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  position: relative;
}
.fa-paper-plane {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  font-size: 26px;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input-group {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
}
.input-group label {
  flex-basis: 28%;
}
.input-group input,
.input-group textarea {
  flex-basis: 68%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 10px 0;
  border-bottom: 1px solid #999;
  color: #333;
  font-size: 16px;
}
::placeholder {
  font-size: 14px;
}

form button {
  background: #141a34;
  color: #fff;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding: 10px 40px;
  outline: 0;
  cursor: pointer;
  display: block;
  margin: 30px auto 10px;
}

#username-error,
#password-error,
#card-error {
  color: red;
}

#submit-message {
  color: red;
}
#Message {
  color: blue;
  font: 400;
  font-size: x-large;
  font-style: italic;
  font-family: Brush Script MT;
}
#LoginLabel {
  text-align: center;
}
