body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ecdfdf;
}

.wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding: 10px;
  background: #0781b2;
  color: white;
  font-size: 15px;
}


#navlist {
  float: right;
}

#navlist li {
  display: inline;
  list-style-type: square;
  padding-right: 20px;
}

#navlist li a {
  color: white;
}

#navlist li a:hover {
  color: blue;
}

.header img {
  width: 60px;
  height: 60px;
}

#headerFont {
  font-size: 20px;
  font-weight: bolder;

}

div.text-heading {
  text-align: center;
}

div.container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding: 20px;
}

label {
  font-size: 15px;
  font-weight: bold;
}

input,
button {
  width: 100%;
  font-size: 20px;
  padding: 6px 10px;
  margin: 8px 0;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
}

button {
  background-color: blue;
  color: white;
}

button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.floatingCards {
  display: flex;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 50%;
  background-color: #0781b2;
  color: white;
  font-family: 'Kalam', cursive;
  border: 3px solid white;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.cardItem {
  padding: 10px;
  margin: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#customerImage {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 300px;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #0781b2;
  color: white;
}

#footerBottom {
  position: absolute;
}

.footer-text {
  margin-top: 20px;
  margin-right: 20px;
  float: right;
}